

<div class="row">
    <!-- Left col -->
    <div class="col">
        <div class="list-group" *ngFor="let item of listLeft">
            <button
                type="button"
                class="list-group-item list-group-item-action"
                (click)="clickTodoAdd(item.id)"
            >{{item.id}}  {{item.textVal}}</button>
        </div>
    </div>

    <!-- Right col -->
    <div class="col">
        <div class="list-group" *ngFor="let item of listRight">
            <!-- <button (click)="btnLeftHandler(item.id)" *ngFor="let item of listLeft; index as i;" type="button" class="list-group-item list-group-item-action">{{item.id}} {{item.textVal}}</button> -->
            <button
                type="button"
                class="list-group-item list-group-item-action"
                (click)="clickTodoRemove(item.id)"
            >{{item.id}}  {{item.textVal}}</button>
        </div>
    </div>

</div>



<hr>


<p>counter works!</p>


<button id="increment" (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button id="decrement" (click)="decrement()">Decrement</button>

<button id="reset" (click)="reset()">Reset Counter</button>
