<p>page-todo works!</p>

<div class="row">
    <!-- Left col -->
    <div class="col">
        <app-todo-left
            [listLeft]=listLeft
            [listRight]=listRight
            (btnLeftEmitEvent)=btnLeftEmitHandler($event)></app-todo-left>
    </div>

    <!-- Right col -->
    <div class="col">
        <app-todo-right
        [listLeft]=listLeft
        [listRight]=listRight
        (btnRightEmitEvent)=btnRightEmitHandler($event)></app-todo-right>
    </div>
</div>


<button (click)="btnSendEmail()">send</button>



